@import (reference) "variables";

html, body {
    height: 100vh;
    overflow: auto;
    background: #20201f no-repeat center center;
    background-size: 100% auto;
}

body {
    margin: 0;
}

.hidable {
    opacity: 0;
}

.visible {
    opacity: 1 !important;
    transition: opacity .2s;
}

::-webkit-scrollbar {
    display: none;
}

.uk-border-rounded {
    border-radius: @global-card-radius;
}

.content {
    text-align: center;
}

.uk-card-body {
    background: @global-bg;
    box-shadow: none;
}
