@import (reference) "variables";

.tabs-container {
    background: none;
    width: 60%;
    margin: 3rem auto 0 auto;
}

.bottom-border(@alpha, @size: 3px) {
    border-bottom: @size solid rgba(255, 255, 255, @alpha);
}

.uk-tab {
    background: @global-bg;
    border-radius: @global-card-radius;
    margin-left: 0;
    &::before {
        border-bottom: none;
    }

    > li {
        padding: 0 10px;
    }

    > .uk-active > a, .uk-active > a:hover {
        color: @global-color;
        .bottom-border(1);
    }

    > * > a {
        color: @global-color;
        text-transform: none;
        .bottom-border(0.2);

        &:hover {
            color: @global-color;
            .bottom-border(0.7);
        }
    }
}

.tab-tile {
    width: calc(~"100%/5 - 21px");
    height: 1rem;
    display: inline-block;
    padding: 10px 5px;
    margin: 5px 5px 0 5px;
    border-radius: @global-card-radius;
    background: rgba(255, 255, 255, 0.5);
    //vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;

    &:hover {
        text-decoration: none;
        background: rgba(255, 255, 255, 0.8);
    }
    > * > div {
        display: inline-block;
    }
}

.tab-container {
    -webkit-mask-image: -webkit-gradient(
            linear, 0% 50%, 100% 50%,
            color-stop(0.0, black), color-stop(0.8, black),
            color-stop(0.9, transparent), color-stop(1, transparent));
}

.tab-favicon {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: -1px;
    margin: 0 5px;
}

.tab-title {
    color: black;
    text-overflow: clip;
}
