nav.uk-navbar-container.uk-navbar-transparent(uk-navbar)
    div.uk-navbar-right
        ul.uk-navbar-nav
            li
                a#history History
            li
                a#bookmarks Bookmarks
            li
                a Apps
                    span(uk-icon="icon: chevron-down")
                div.uk-border-rounded(uk-dropdown="pos: bottom-right; mode: click; duration: 100")
                    ul#apps.uk-nav.uk-dropdown-nav
                    div#all-apps All apps
            li
                a#extensions Extensions
            li
                a#options-toggle.uk-navbar-toggle(uk-toggle="target: #offcanvas-flip")
                    span(uk-navbar-toggle-icon)
