div#sidebar(uk-offcanvas="flip: true; overlay: false; mode: push")
    div.uk-offcanvas-bar
        button.uk-offcanvas-close(type="button" uk-close)
        h1 Settings
        ul(uk-accordion="multiple: false")
            li.uk-open
                h2.uk-accordion-title Appearance
                div.uk-accordion-content
                    h5 Background
                    form#opt-background
                        label
                            input.uk-radio(type="radio" name="background" value='background' checked)
                            div
                                span Plain color
                                br/
                                input(type="color" value="#ececec")
                        label
                            input.uk-radio(type="radio" name="background" value='own image')
                            div
                                span Image
                                br/
                                input(type="file" name="image-file" accept=".jpg, .jpeg, .png")
                        // image from src
                    // h5 Theme
                    h5 Visibility
                    div#opt-visibility
                        div
                            span Opacity: 100%
                            br/
                            input.uk-range(type="range" min="0" max="100" value="100" step="1")
                        div
                            label
                                input.uk-checkbox(type="checkbox" name="reveal-on-hover" checked)
                                span Reveal on hover
            li
                h3.uk-accordion-title Search
                div.uk-accordion-content
                    | search
            li
                h3.uk-accordion-title Tabs
                div.uk-accordion-content
                    | tabs
        div#actions.gaped
            button#save-settings.uk-button.uk-button-primary.uk-button-small(type='button') save
            button#set-default.uk-button.uk-button-danger.uk-button-small(type='button' uk-toggle="target: #set-default-modal")
                | set default
        div#actions-info
        div#set-default-modal(uk-modal="stack: true")
            div.uk-modal-dialog.uk-modal-body
                h2.uk-modal-title Set default options?
                p This action will set up default options and reload the tab.
                p.uk-text-right.gaped
                    button.uk-button.uk-button-default.uk-button-small.uk-modal-close(type="button" name="cancel") Nevermind
                    button.uk-button.uk-button-danger.uk-button-small(type="button" name="ok") Proceed
