div.search-container.uk-card.uk-card-body.uk-card-default.uk-border-rounded.hidable
    div.uk-margin
        form#engines
            //
                label
                    input(type="radio" name="engine" value="google" checked)
                    span.uk-badge  google
        form.uk-inline
            label
                a#search-btn.uk-form-icon.uk-form-icon-flip(uk-icon="icon: search")
                input#search.uk-input.uk-form-width-large.uk-border-rounded(
                    type="text"
                    placeholder="search...")
